<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <h3>Edit your choice <%= chat._id %></h3>
     <p>This chat will send from <%= chat.from %> to <%= chat.To %> </p>
    <form method="POST" action="/chats/<%= chat.id %>?_method=PUT">
      <textarea name="msg" ><%= chat.msg %></textarea>
      <button>Edit</button>
    </form>
</body>
</html>